@using Microsoft.AspNetCore.Http;
@using PsychicTest.Helpers;
@using PsychicTest.Models;
@using PsychicTest.Entities

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Список Экстрасенсов</h3>
    <div>
        @{
            var psychics = SessionHelper.GetObjectFromJson<List<Psychic>>(Context.Session, "psychics");
        }
        @foreach (var p in psychics)
        {
        <div>

            Имя экстрасенса: @p.Name
            <br />
            Догадка экстрасенса: @p.GuessedWork
            <br />
            Уровень достоверности: @p.ConfidenceLevel
            <br />
            ==================
            <br />
        </div>
        }
    </div>
    
    <br />
    <div class="block1">
        <form id="form1" method="post" action=CountConfidenceLevel>
            <label>Напишите ваше Загадонное число</label> <br />
            <input type="number" name="GuessedNumber" value="" />
            <br />
            <input type="submit" name="GuessedNumber" value="Загадонное число" />

        </form>
    </div>

</body>
</html>