@{
    ViewData["Title"] = "Home Page";
}
@model List<Psychic>
<div class="block1">
    <form id="form1" method="post" action="Home/Guesswork">
        <label>Загадайте двух значное число</label> <br />
        <br />
        <input type="submit" name="Donate" value="Да загадал" />

    </form>
</div>
<h3>Список Экстрасенсов</h3>
<div>
  
    @foreach (var p in Model)
    {
    <div>

        Имя экстрасенса: @p.Name
        <br />
        Догадка экстрасенса: @p.GuessedWork
        <br />
        Уровень достоверности: @p.ConfidenceLevel
        <br />
        ==================
        <br />
    </div>
    }
</div>